.publicaciones {
    text-align: center;
}

.publicaciones img {
    width: 400px;
    height: auto;
    margin: 20px 0;
}

.publicaciones h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: lightseagreen;
}

.publicaciones p {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}