<div class="mb-4" (click)="onClick($event)">
    <button type="button" class="btn btn-success m-1" value="INICIO" href="/blog">Inicio</button>
    <button type="button" class="btn btn-success m-1" value="CINE" href="/blog">Cine</button>
    <button type="button" class="btn btn-success m-1" value="SERIES" href="/blog">Series</button>
    <button type="button" class="btn btn-success m-1" value="LIBROS" href="/blog">Libros</button>
    <button type="button" class="btn btn-danger m-1" routerLink="/new">Agregar Post</button>
</div>

<div class="publicaciones">
    <div class="post" *ngFor="let post of publicaciones">
        <h1>{{ post.titulo }}</h1>
        <img [src]="post.imagen" class="center-block">
        <p>{{ post.texto }}</p>
        <p>{{ post.fecha }} {{ post.autor }} - {{ post.categoria }}</p>
    </div>
</div>