/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round:ital@1&family=Oswald&family=Russo+One&family=Special+Elite&family=Suez+One&display=swap');
body {
    background-image: url('https://us.123rf.com/450wm/argus456/argus4561302/argus456130200225/18102029-textura-de-fondo-negro-con-l%C3%ADneas-suaves-y-luces-suaves.jpg?ver=6');
    background-size: cover;
    color: white;
}